@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}
.box {
    display: flex;
    width: 600px;
    background-color: white;
}
.left-side,
.right-side {
    width: 50%;
}
.left-side {
    padding: 25px 30px 40px;
    background-color: #4635f3;
    color: #d4c8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    text-align: center;
}
.left-side .average-cont {
    background-color: #4827d0;
    width: 150px; height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.left-side .average-cont #average {
    font-size: 60px;
    color: white;
}
.left-side .degree {
    color: white;
    font-size: 24px;
}
.right-side {
    background-color: white;
    box-shadow: 15px 15px 10px 1px hsla(241, 100%, 89%, 0.225);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 6px;
}
.right-side .summary-heading {
    color: #19182d;
}
.right-side .results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-side .result-container {
    /* background-color: #fff6f5; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
}
.right-side .result-container .result-title,
.right-side .result-container .result-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #19182d;
}
.right-side .result-container .result-title {
    gap: 10px;
}
.right-side .result-container .result-numbers {
    gap: 3px;
}
.right-side .result-container .result-numbers .result {
    font-weight: 600;
}
.right-side .result-container .result-numbers .full-mark {
    color: #a09da4;
}
.right-side #cont-btn {
    background-color: #303b59;
    color: white;
    padding: 14px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
.right-side #cont-btn:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .box {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    .box .left-side,
    .box .right-side {
        width: 100%;
    }
}